<%- include('../includes/head.ejs') %>
<style>
    .special-top {
        position: relative;
        height: 184px;
        width: 100%;
    }

    .content {
        position: absolute;
        top: 0px;
        background: rgba(0, 0, 0, 0.5);
        color: #f1f1f1;
        width: 100%;
        height: 184px;
    }

    .img-beta {
        width: 100%;
        height: 184px;
        padding: 0.1%;
    }

    .nav-data-item:hover {
        color: red;
        border-bottom-style: solid;
    }
</style>
<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
</head>

<body style="font-family: ubuntu; background: #F6F9FA;">
    <%- include('../includes/navigation.ejs') %>

    <div class="container">
        <div class="mt-5"></div>

        <%- include('researchNav.ejs') %>

        <div class="shadow" style="background: #ffffff;">
            <div class="row">
                <div class="col-md-3">
                    <div class="p-2 ml-4">
                        <i class="ml-3 fa fa-suitcase"></i>
                        <a>Usability</a>
                    </div>

                </div>
                <div class="col-md-5">
                    <div class="p-2 ml-4">
                        <i class="ml-3 fa fa-stumbleupon"></i>
                        <a>
                            License | Others (Specific in Description)
                        </a>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="p-2 ml-4">
                        <i class="ml-3 fa fa-tags"></i>
                        <a>
                            Tags, Linguistics, Language
                        </a>
                    </div>

                </div>
            </div>
        </div>

        <br>
        <div class="shadow" style="background: #ffffff;">

            <div class="shadow p-2">
                <div class="ml-4">
                    <i class="ml-3 fa fa-th-large"></i>
                    <a style="color: gray;">Description</a>
                </div>
            </div>


            <div class="mt-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="ml-5 mr-5">
                            <h1>What is in the Deep-NLP Learning?</h1>
                            <p>
                                Sheet_1.csv contains 80 user responses, in the response_text column, to a therapy
                                chatbot.
                                Bot said: 'Describe a time when you have acted as a resource for someone else'. User
                                responded. If a response is 'not flagged', the user can continue talking to the bot. If
                                it
                                is 'flagged', the user is referred to help.
                            </p>

                            <p>
                                Sheet_2.csv contains 125 resumes, in the resume_text column. Resumes were queried from
                                Indeed.com with keyword 'data scientist', location 'Vermont'. If a resume is 'not
                                flagged',
                                the applicant can submit a modified resume version at a later date. If it is 'flagged',
                                the
                                applicant is invited to interview.
                            </p>

                            <pre class="shadow prettyprint" style="text-align: left;">

                                                    #include.header
                                                    using namespace std; 
                                                    int main(){
                                                      cout<<"Hello World/n"; 
                                                    }
                            </pre>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- description,end ses -->

        <!-- ata data, data sources -->
        <br>
        <div class="shadow" style="background: #ffffff;">

            <div class="shadow p-2">
                <div class="ml-4">
                    <i class="ml-3 fa fa-files-o"></i>
                    <a style="color: gray;">DATA(5MB)</a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5 border-right">
                    <div class="ml-3">
                        <h6 class="shadow p-2 mt-2 text-success">Data Sources</h6>

                        <table class="table table-borderless">
                            <tr>
                                <td>
                                    <a href="#" style="text-decoration: none;">
                                        | Sheet_1.csv
                                    </a>
                                </td>
                                <td>
                                    80
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" style="text-decoration: none;">
                                        | Sheet_2.csv
                                    </a>
                                </td>
                                <td>
                                    120
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" style="text-decoration: none;">
                                        | Sheet_3.csv
                                    </a>
                                </td>
                                <td>
                                    720
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>

                <div class="col-md-3 border-right">
                    <div class="ml-3">
                        <h6 class="text-success p-2 shadow mt-2">About these files</h6>
                        <li style="list-style: none">| Something ELSE?</li>
                        <li style="list-style: none">| COD?</li>
                        <li style="list-style: none">| Game of Thrones?</li>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="ml-3 mr-1">
                        <h6 class="p-2 text-success shadow mt-2"> Columons </h6>
                        <li style="list-style: decimal;">
                            response_id
                        </li>
                        <li style="list-style: decimal;">
                            class
                        </li>
                        <li style="list-style: decimal;">
                            response_text
                        </li>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <!-- aikhane data, data sources ses -->
        <div class="d-flex">
            <div>
                <a href="/admin/editResearch/<%= research.id %>?edit=true" class="btn btn-success btn-sm">Edit</a>
            </div>
            <div class="ml-2">
                <form action="/admin/deleteResearch" method="POST">
                    <input type="hidden" value="<%= research.id %>" name="researchId" />
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </div>

        </div>




        <div class="mb-5"></div>
    </div>

    <%- include('../includes/end.ejs') %>